- content_for(:content) do
  %div.page-header
    %h1 Office Space Cadets Pairing
    %h2 Saturday, March 19, 2016

  %div.main
    %table.pairing-table
      %thead
        %tr
          %th
            = 'Pair One'
          %th
            = 'Pair Two'
          %th
            = 'Session Start'
          %th
            = 'Session End'
          %th
            = 'Session Duration'
      %tbody{id: 'pairing_sessions_table'}

- content_for(:javascript) do
  %script{id: 'pairing_session_template', type: 'text/x-custom-template'}
    %tr
      %td.user
      %td.user
      %td.time
      %td.time
      %td.duration

  = javascript_include_tag 'home'
